body{
    padding: 0px;
    margin: 0px;
    background: #f4f4f4;
}

#ls {
    width: 100%;
    margin: auto;
}

#ls video {
    width: 100%;
    height: 100%;
    border-bottom: solid 1px lightgray;
}

#ls canvas.drawingBuffer{
    width: 100%;
}
