body {
    background: royalblue;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.section {
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 80px 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    color: white;
}

.section1 {
    background-color: slateblue;
}

.section2 {
    background-color: goldenrod;
}

.section3 {
    background-color: #f4f4f4;
    color: #339972;
}

.nav-wrapper {
    position: fixed;
    z-index: 1000;
    color: white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    display: flex;
    bottom: 12px;
    right: 12px;
    cursor: pointer;
    background: rgba(0,0,0,0.2);
}

.nav {
    padding: 6px;
}

.nav:active {
    color: gray;
    background-color: white;
}

.section h1,
.section p {
    display: block;
    margin-bottom: 24px;
}

.section p {
    font-weight: 100;
    font-size: .9em;
    line-height: 1.5em;
}

.section-inner {
    display: block;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

/*
.header {
    display: block;
    background-color: #f4f4f4;
    min-height: 40px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}*/
