body {
    background-color: #f4f4f4;
    padding: 0px;
    margin: 0px;
}

.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.flex-content {
    max-width: 600px;
    display: block;
}

.intro .flex-content {
    text-align: center;
}

.logo-img {
    width: 100px;
    opacity: .5;
}

.intro h1 {
    color: rgba(0,0,0,0.5);
    width: 100%;
}
