html {
    background-color: royalblue;
}

body {
	margin: 0px;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    display: block;
    background-color: royalblue;
}

#bg-overlay {
    display: block;
    overflow: hidden;
    width: 100%;
    background-color: royalblue;
}

.greeting {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    font-weight: normal;
}

.bottom-nav {
    display: block;
    width: 100%;
    background: #f4f4f4;
    min-height: 40px;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    display: none;
}

.enter-button {
    margin: auto;
    color: royalblue;
    background: white;
    margin-top: 120px !important;
}

.title {
    margin: 0px;
    font-size: 2em;
}

.title-desc {
    margin: 0px;
    font-size: 1em;
}

.button {
    padding: 12px 24px;
    display: inline-block;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -webkit-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
     transition: ease .25s;
    -webkit-transition: ease .25s;
    -moz-transition: ease .25s;
    -ms-transition: ease .25s;
    -o-transition: ease .25s;
    margin: 12px;
    cursor: pointer;
}

.button:hover {
    -webkit-box-shadow: 0px 8px 32px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 8px 32px -3px rgba(0,0,0,0.3);
    box-shadow: 0px 8px 32px -3px rgba(0,0,0,0.3);
}

.main-pane {
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background: url(images/diagonal-noise.png);
    text-align: center;
}

.navcon {
    color: gray;
    font-size: 30px !important;
    padding: 6px !important;
    cursor: pointer;
}

.navcon:active {
    background: #f4f4f4;
}

.cont-box {
    display: block;
    width: 100%;
    background-color: #f4f4f4;
    overflow: hidden;
}

.write-box {
    display: inline-block;
    margin: auto;
    background: transparent;
    border-right: solid 6px white;
    padding: 0px 12px;
    font-size: 4em;
    color: white;
    font-weight: bold;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease;
    margin-top: 40px;
}

@keyframes blink {
    0%{
        border-color: white;
    }
    60%{
        border-color: white;
    }
    80%{
        border-color: transparent;
    }
    100% {
        border-color: white;
    }
}

@-webkit-keyframes blink {
     0%{
        border-color: white;
    }
    60%{
        border-color: white;
    }
    80%{
        border-color: transparent;
    }
    100% {
        border-color: white;
    }
}
