body {
	margin: 0px;
	background: #f4f4f4;
    font-family: 'Oswald', sans-serif;
}

.greeting {
    display: block;
    width: 100%;
    text-align: center;
    color: gray;
    font-family: 'Oswald', sans-serif;
    padding: 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border-bottom: solid 1px lightgray;
}