*{
-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

body {
    background: royalblue;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.section {
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    color: white;
    background-image: url(images/skyline.svg);
    background-size: 100%;
    background-attachment: local;
    background-position: bottom;
    background-repeat: no-repeat;
}

.section1 {
    background-color: #7e57c2;
}

.section2 {
    background-color: #ffa000;
}

.section3 {
    background-color: #339972;
}

.section4 {
    
}

.section5 {
    background-color: #ff5722;
}

.section6 {
    background-color: #1f1f1f;
    color: #f44336;
}

.nav-wrapper {
    position: fixed;
    z-index: 1000;
    color: #bbbbbb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
    bottom: 0px;
    right: 24px;
    cursor: pointer;
/*    background: rgba(0,0,0,0.2);*/
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
}

.nav {
    display: inline-block;
    font-size: 36px;
    padding: 0px 6px;
}



.nav:active {
    color: gray;
    background-color: lightgray;
}

.section h1,
.section p {
    display: block;
    margin-bottom: 24px;
    max-width: 80vw;
}

.section h1 {
    font-family: "Shrikhand",cursive;
    font-weight: normal;
}

.section p {
    font-weight: 100;
    font-size: 1em;
    line-height: 1.5em;
    color: rgba(255, 255, 255, 0.8);
}

.section-inner {
    display: block;
    max-width: 600px;
    margin: auto;
    margin-top: 10vh;
    align-content: center;
}

.section-inner h1 .icofont {
    margin-right: 12px;
    font-size: 36px;
}

.me-img {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border: solid 2px white;
    display: inline-block;
    vertical-align: middle;
}


.me-wrapper {
    display: block;
/*    background: rgba(0,0,0,0.2);*/
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    transition: ease .25s;
    -webkit-transition: ease .25s;
    -moz-transition: ease .25s;
    -ms-transition: ease .25s;
    -o-transition: ease .25s;
    margin-bottom: 24px;
    margin-top: 24px;
}

.me-info {
    display: inline-block;
    max-width: 50vw;
    vertical-align: middle;
    margin-left: 12px;
    margin-right: 12px;
    line-height: 1.25em;
}

.me-text {
    display: block;
    color: white;
    font-size: 24px;
    font-family: "Shrikhand",cursive;
}

.me-desc {
    font-size: 12px;
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
}

.contact-icons .icofont {
    font-size: 30px;
    padding: 6px;
    vertical-align: middle;
    cursor: pointer;
}

.contact-icons a {
    text-decoration: none;
    color: #f44336;
}

@media screen and (min-width: 468px){
    .contact-icons .icofont:hover {
        color: #ffc107;
    }
}

@media screen and (max-width: 600px){
    .section h1 {
        font-size: 24px;
    }
    
    .section p {
        font-size: .85em;
    }
}

.button {
    display: inline-block;
    padding: 10px 18px;
    background-color: #fff;
    color: gray;
    font-weight: 100;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
     -webkit-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
    cursor: pointer;
}

.button-check {
    margin-right: 6px;
}

.attr-link {
    display: block;
    font-size: .5em;
    text-transform: uppercase;
    z-index: 1000;
    margin-left: 5px;
    color: gray;
    text-decoration: none;
    margin-top: -13px;
}
/*
.header {
    display: block;
    background-color: #f4f4f4;
    min-height: 40px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}*/
