body {
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
    box-sizing: border-box;
    background-image: url(images/laptop_phone.jpeg)
}

.main-nav-wrapper {
    width: 100vw;
    height: 100vh;
    max-height: 800px;
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: flex-start;
    align-content: flex-start;
}

.gridblock {
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    flex-wrap: wrap;
    flex-direction: column;
}

.gridblock.head {
    width: 100%;
}

.gridblock:hover {
    background-color: #673ab7;
    color: white;
}

.gridblock:active {
    background-color: orangered;
}

i.mencon {
    font-size: 40px;
    display: block;
    margin-bottom: 6px;
}

.mendes {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1em;
    display: block;
}
