body {
    background: royalblue;
    margin: 0px;
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.window-section {
    display: block;
    width: 100vw;
    height: 100vh;
}

.section1 {
    background-color: slateblue;
}

.section2 {
    background-color: goldenrod;
}

.section3 {
    background-color: rebeccapurple;
}

.nav-wrapper {
    position: fixed;
    color: white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    display: flex;
    bottom: 12px;
    right: 12px;
    cursor: pointer;
    background: rgba(255,255,255,0.2);
}

.nav {
    padding: 6px;
}

.nav:active {
    color: gray;
    background-color: white;
}