body {
	margin: 0px;
	background-color: #f4f4f4;
    font-family: 'Roboto Slab', serif;
    background-size: cover;
    background-position: center center;
    background: url(images/design-desk.jpg);
    background-attachment: fixed;
}

.greeting {
    display: block;
    background-color: #f4f4f4;
    width: 100%;
    text-align: center;
    color: gray;
    padding: 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
/*    border-bottom: solid 1px lightgray;*/
    font-weight: normal;
}

.title {
    margin: 0px;
}

.title-desc {
    margin: 0px;
    font-size: .8em;
}

.button {
    padding: 12px 24px;
    display: inline-block;
    background: #4949b5;
    color: white;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -webkit-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
     transition: ease .25s;
    -webkit-transition: ease .25s;
    -moz-transition: ease .25s;
    -ms-transition: ease .25s;
    -o-transition: ease .25s;
    margin: 12px;
    cursor: pointer;
}

.button:hover {
    -webkit-box-shadow: 0px 8px 32px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 8px 32px -3px rgba(0,0,0,0.3);
    box-shadow: 0px 8px 32px -3px rgba(0,0,0,0.3);
}

.main-pane {
    display: block;
    width: 100%;
    min-height: 450px;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background: url(images/diagonal-noise.png);
    text-align: center;
}

.cont-box {
    display: block;
    width: 100%;
    min-height: 450px;
    background-color: #f4f4f4;
    overflow: hidden;
}

.write-box {
    display: inline-block;
    margin: auto;
    background: transparent;
    border-right: solid 6px white;
    padding: 0px 12px;
    font-size: 4em;
    color: white;
    font-weight: bold;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease;
    margin-top: 40px;
}

@keyframes blink {
    0%{
        border-color: white;
    }
    60%{
        border-color: white;
    }
    80%{
        border-color: transparent;
    }
    100% {
        border-color: white;
    }
}

@-webkit-keyframes blink {
     0%{
        border-color: white;
    }
    60%{
        border-color: white;
    }
    80%{
        border-color: transparent;
    }
    100% {
        border-color: white;
    }
}
