body {
	margin: 0px;
	background: #f4f4f4;
    font-family: 'Roboto Slab', serif;
    background-size: cover;
    background-position: top center;
    background: url(images/davallan.jpg);
    background-attachment: fixed;
}

.greeting {
    display: block;
    width: 100%;
    text-align: center;
    color: gray;
    padding: 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border-bottom: solid 1px lightgray;
    font-weight: normal;
}

.button {
    padding: 12px 24px;
    display: inline-block;
    background: #4949b5;
    color: white;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -webkit-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
     transition: ease .25s;
    -webkit-transition: ease .25s;
    -moz-transition: ease .25s;
    -ms-transition: ease .25s;
    -o-transition: ease .25s;
    margin: 12px;
    cursor: pointer;
}

.button:hover {
    -webkit-box-shadow: 0px 8px 32px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 8px 32px -3px rgba(0,0,0,0.3);
    box-shadow: 0px 8px 32px -3px rgba(0,0,0,0.3);
}

.main-pane {
    display: block;
    width: 100%;
    min-height: 450px;
    background-size: cover;
    background-position: center center;
}