body {
    margin: 0px;
}

.buttons-wrapper {
    display: block;
    width: 100vw;
    max-width: 600px;
    overflow: hidden;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.audio-button {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    height: 24vh;
    box-sizing: border-box;
    margin-bottom: .5vh;
    margin-top: .5vh;
    background-size: cover;
    background-color: royalblue;
    background-position: center;
    border-radius: 5px;
}

.full-it {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: white;
    padding: 6px;
    border-radius: 5px;
    color: gray;
}
