.buttons-wrapper {
    display: block;
    width: 100vw;
    overflow: hidden;
    text-align: center;
}

.button {
    display: inline-block;
    vertical-align: top;
    width: 48vw;
    box-sizing: border-box;
    margin-bottom: 2px;
}
