body {
    background: #f4f4f4;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.25);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.25);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.25);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.25);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #03a9f4 inset !important;
    -webkit-text-fill-color: #fff;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #03a9f4 inset !important;
    -webkit-text-fill-color: #fff;
}
input:focus,
textarea:focus {
    outline:none;
}

.header {
    display: block;
    width: 100%;
    height: 50vh;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7238d1+0,3dabe2+100 */
    background: #7238d1; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #7238d1 0%, #3dabe2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #7238d1 0%,#3dabe2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #7238d1 0%,#3dabe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7238d1', endColorstr='#3dabe2',GradientType=1 );
    -webkit-box-shadow: 10px 10px 75px -12px rgba(82,82,82,0.44);
    -moz-box-shadow: 10px 10px 75px -12px rgba(82,82,82,0.44);
    box-shadow: 10px 10px 75px -12px rgba(82,82,82,0.44);
}

.bod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: -15vh;
    box-sizing: border-box;
    color: gray;
    margin-bottom: 48px;
}

.post-wrapper {
    display: block;
    width: 25%;
    min-width: 250px;
    background: white;
    box-sizing: border-box;
    padding: 24px;
    border: solid 1px #f4f4f4;
}

@media screen and (max-width: 500px){
    .post-wrapper {
        width: 100%;
    }
}

.post-wrapper h1 {
    font-size: 1em;
    margin: 0px;
    color: #673ab7;
    font-weight: 100;
    text-transform: uppercase;
}

.thanklist {
    font-weight: 100;
    font-size: 1.25em;
    color: #656565;
    font-weight: 300;
    opacity: .75;
}

.auth {
    margin-top: 12px;
    font-size: .8em;
    font-style: italic;
    opacity: .7;
}

.header .menu {
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: center;
    font-weight: 100;
    font-size: .8em;
    position: absolute;
    left: 0px;
    top: 30px;
}

.header .menu span {
    padding: 12px 24px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}

.header .menu span:hover {
    background: rgba(0,0,0,0.1);
}

.logo {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: block;
    padding: 12px;
    padding-top: 36px;
    box-sizing: border-box;
}

.add-post {
    position: fixed;
    padding: 12px;
    border-radius: 50%;
    background: #4A2CC4;
    color: white;
    bottom: 24px;
    right: 24px;
    z-index: 1000;
    cursor: pointer;
    transition: ease .25s;
   -webkit-transition: ease .25s;
   -moz-transition: ease .25s;
   -ms-transition: ease .25s;
   -o-transition: ease .25s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.post-form {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    z-index: 500;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7238d1+0,3dabe2+100 */
    background: #7238d1; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #7238d1 0%, #3dabe2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #7238d1 0%,#3dabe2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #7238d1 0%,#3dabe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7238d1', endColorstr='#3dabe2',GradientType=1 );
    height: 0px;
    overflow: hidden;
    transition: ease .25s;
   -webkit-transition: ease .25s;
   -moz-transition: ease .25s;
   -ms-transition: ease .25s;
   -o-transition: ease .25s;
}

.form-wrap {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 24px;
}

.post-form input,
.post-form textarea {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-bottom: 12px;
    width: 100%;
    color: white;
    border: none;
    background: transparent;
    resize: none;
    font-size: 1em;
}

#body {
    min-height: 120px;
    font-size: 1.25em;
}

#fullName{
    font-style: italic;
    font-size: 1em;
    opacity: .8;
}

#pin {
    font-size: 1em;
    opacity .8;
    text-transform: uppercase;
}

#postTitle {
    font-size: 2em;
}

#submit-post {
    margin-top: 12px;
    padding: 12px 24px;
    border-radius: 6px;
    color: royalblue;
    background: white;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    transition: ease .25s;
   -webkit-transition: ease .25s;
   -moz-transition: ease .25s;
   -ms-transition: ease .25s;
   -o-transition: ease .25s;
}
