body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    background-image: url('images/carnival.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-wrapper {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: rgba(33, 33, 33, 0.5);*/
    /*background-image: url('images/diagonal-noise.png');*/
    background-repeat: repeat;
    transition: ease 1s;
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
    overflow: hidden;
}

.hero {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.hero .button {
    background: #fff;
    padding: 12px 24px;
    border-radius: 40px;
    color: #7e57c2;
    font-size: 1.25em;
    cursor: pointer;
    animation-name: slide-in;
    animation-duration: .75s;
    animation-iteration-count: .75;
    overflow: hidden;
}

@keyframes slide-in {
    from {
        height: 0px;
        padding: 0px;
        opacity: 0;
    }
    to {
        height: auto;
        padding: 12px 24px;
        opacity: 1;
    }
}

.timer {
    box-sizing: border-box;
    padding: 24px;
    font-size: 200px;
    font-weight: bold;
    color: #fff;
    text-shadow: 5px 5px 12px rgba(0,0,0,0.15);
}

.long-msg {
    font-size: 35px;
    color: #fff;
    transition: ease .5s;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

.blinker {
    display: inline-block;
    background-color: white;
    margin-left: 5px;
    height: 35px;
    width: 15px;
    box-sizing: border-box;
    animation-name: border-blink;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    vertical-align: middle;
}

.highlight {
    color: #FFEB3B;
}

@keyframes border-blink {
    0% {
        background-color: #FFEB3B;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: #FFEB3B;
    }
}

.section {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 24px;
    color: gray;
    background-color: white;
}
