body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
}

.hero-wrapper {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7e57c2;
    transition: ease .25s;
    -webkit-transition: ease .25s;
    -moz-transition: ease .25s;
    -ms-transition: ease .25s;
    -o-transition: ease .25s;
}

.hero {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.hero .button {
    background: #7e57c2;
    padding: 12px 24px;
    border-radius: 2px;
    color: #212121;
    font-size: 1.25em;
    cursor: pointer;
    animation-name: slide-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes slide-in {
    from {
        height: 0px;
        padding: 0px;
        opacity: 0;
    }
    to {
        height: auto;
        padding: 12px 24px;
        opacity: 1;
    }
}

.timer {
    box-sizing: border-box;
    padding: 24px;
    font-size: 200px;
    font-weight: bold;
    color: #f4f4f4;
}

.long-msg {
    font-size: 35px;
    color: #aaaaaa;
    transition: ease .5s;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
}

.blinker {
    display: inline-block;
    background-color: white;
    margin-left: 5px;
    height: 35px;
    width: 15px;
    box-sizing: border-box;
    animation-name: border-blink;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    vertical-align: middle;
}

.highlight {
    color: #7e57c2;
}

@keyframes border-blink {
    0% {
        background-color: #7e57c2;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: #7e57c2;
    }
}

.section {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 24px;
    color: gray;
}
