body {
    background-color: #00BCD4;
}

.main-wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ttt-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60vmin;
    margin: auto;
    border: solid 2px rgba(255,255,255,0.25);
}

.ttt-container div {
    width: 20vmin;
    height: 20vmin;
    border: solid 2px rgba(255,255,255,0.25);
    box-sizing: border-box;
    cursor: pointer;
}
