body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
}

.login-modal {
    display: flex;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background: royalblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome img {
    max-width: 100px;
    border-radius: 50%;
    border: solid 3px white;
}

.welcome .message {
    color: white;
    margin: 12px;
}

.login-button {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: inline-block;
    padding: 12px 24px;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;
    color: gray;
    margin-top: 12px;
}

.sign-out {
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
    padding: 4px 8px;
    cursor: pointer;
    border: solid 1px white;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: .8em;
}
