body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background: #b975f4; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #b975f4 1%, #b975f4 1%, #4096ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #b975f4 1%,#b975f4 1%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #b975f4 1%,#b975f4 1%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b975f4', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.login-modal {
    display: flex;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome img {
    max-width: 100px;
    border-radius: 50%;
    border: solid 3px white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.welcome .message {
    color: white;
    margin: 12px;
}

.login-button {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: block;
    padding: 12px 24px;
    background: transparent;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    margin-top: 12px;
    width: 100%;
    max-width: 250px;
    border: solid 1px;
    box-sizing: border-box;
}

@media screen and (min-width:600px){
    .login-button:hover {
        color: gray;
        background: white;
        border-color: white;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}

.sign-out {
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
    padding: 4px 8px;
    cursor: pointer;
    border: solid 1px white;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: .8em;
}

.posts-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 48px;
}

.devo-wrapper {
    display: block;
    padding: 24px;
    box-sizing: border-box;
    width: 100%;
    background: white;
    margin-top: 3px;
    overflow: hidden;
    color: gray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.devo-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 12px;
}

.devo-body {
    line-height: 1.5em;
}

.devo-author {
    font-weight: 100;
    font-style: italic;
    font-size: .8em;
}
